.partners__list-wrapper {
  position: relative;
}

.partners__arrow {
  position: absolute;
  top: calc(50% - 7px);

  &--prev {
    left: -70px;
  }

  &--next {
    right: -70px;
  }
}

.partners__list {
  display: flex;
  justify-content: space-between;
}

.partners__item {
  position: relative;
  width: 23.4%;

  &:hover .partners__description {
    opacity: 1;
  }
}

.partners__img-wrapper img {
  display: block;
}

.partners__description {
  position: absolute;
  top: -10px;
  left: 0;
  padding: 20px 16px 10px;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
  background-color: #26b83a;
  box-shadow: 0 10px 10px 0 rgba(38, 184, 58, 0.2);
  opacity: 0;
  transition: 0.5s linear;
}

@media (max-width: 1200px) {
  .partners__arrow {
    top: auto;
    bottom: -40px;
    z-index: 2;

    &--prev {
      left: 45%;
    }

    &--next {
      right: 45%;
    }
  }

}

@media (max-width: 900px) {
  .partners__arrow {
    bottom: -20px;
  }

  .partners__list {
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }

  .partners__item {
    width: 33.333%;
    max-width: 240px;
  }

  .partners__description {
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .partners__item {
    width: 50%;
  }

}

@media (max-width: 600px) {
  .partners__arrow {
    &--prev {
      left: 40%;
    }

    &--next {
      right: 40%;
    }
  }

  .partners__item {
    width: 100%;
  }

}