.tariffs {
  background-color: $bg-color;
}

.tariffs__inner {

  .section__title {
    padding-bottom: 32px;
    text-align: left;
    color: #313131;
  }

  .section__subtitle {
    max-width: 680px;
    font-size: 18px;
    font-weight: 600;
  }
}

.tariffs__nav {
  padding: 35px 0 30px;
}

.tariffs__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 100px;
}

.tariffs__item {
  display: flex;
  flex-direction: column;

  width: 33.333%;
  padding: 50px 10px;

  border: 1px solid #e8e8e8;
  background-color: #ffffff;
}

.tariffs__list.horizontally {
  flex-direction: column;

  .tariffs__item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 50px;
  }

}




